@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,600&display=swap');
@import "tailwindcss";

@layer base {
  html, body {
    font-family: 'Plus Jakarta Sans', system-ui, -apple-system, sans-serif;
    background-color: #FBF8EE;
    color: #0f172a;
  }
}

@theme {
  --color-pkk-blue: #0055A4;
  --color-pkk-lime: #8BC34A;
  --color-pkk-yellow: #FFE53B;
  --color-pkk-green: #22C55E;
  --color-pkk-cream: #FBF8EE;
}